body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#ft_list {
    margin-top: 20px;
}

.todo {
    padding: 10px;
    margin-bottom: 5px;
    background-color: lightgray;
    cursor: pointer;
}
